<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>YOLO - <%= title%> </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<%- styles %>
</head>

<body>
	<header>
		<a href="/">
			<img class="img_log" src="/images/yolo.png" alt="logo de yolo" height="150px" width="150px">
		</a>
		<nav>
			<a class="nav_a" href="/user/login">Entrar</a>
			<a class="nav_a" href="/user/register">Nuevo Usuario</a>
		</nav>
	</header>
