<!DOCTYPE html>
<html>

<head>
    <title>Tabla</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Resultados</h1>
    <table>
        <tr>
            <th>rojo:</th>
            <td> <%= rojo %> </td>
        </tr>
        <tr>
            <th>azul:</th>
            <td> <%= azul %> </td>
        </tr>
        <tr>
            <th>verde:</th>
            <td> <%= verde %> </td>
        </tr>
        <tr>
            <th>ninguno:</th>
            <td> <%= ninguno %> </td>
        </tr>
    </table>
</body>

</html>