<!DOCTYPE html>
<html>

<head>
    <title>Información proporcionada</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Formulario procesado</h1>
    <table>
        <tr>
            <th>Nombre:</th>
            <td> <%= nombre %> </td>
        </tr>
        <tr>
            <th>Edad:</th>
            <td> <%= edad %> </td>
        </tr>
        <tr>
            <th>Sexo:</th>
            <td> <%= sexo %> </td>
        </tr>
        <tr>
            <th>Fumador:</th>
            <td> <%= fumador %> </td>
        </tr>
    </table>
</body>

</html>