<!DOCTYPE html>
<html>

<head>
    <title>Lista de usuarios</title>
    <meta charset="utf-8">
</head>

<body>
    <ul>
        <% users.forEach(function(user) { %>
        <li> <%= user %> </li>
        <% }); %>
    </ul>
</body>

</html>